$primary-color:#163b65;
$secondary-color:#f3e20c;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

$font-stack:'IBM Plex Sans', sans-serif;
$text-white: #ffffff;
$secondary-font:'Bitter', serif;
$fixed_gap: 32px;
$card-bg:#F5F5F5;
$font_size:16px;